<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="add_custom_attr_hobby_to_customer_data" type="Nakor\TestTask\Plugin\Customer\CustomerData\Customer"/>
    </type>
</config>
